<html>
<head>
	<title>Cadastro de Banco</title>
</head>
<body>
	<p align="center">
		<table border="1">
			<tr>
				<td>Agencia:</td><td>******</td>
			</tr>
			<tr>
				<td>Digito da Agencia:</td><td>******</td>
			</tr>
			<tr>
				<td>Nome do titular: </td><td>******</td>
			</tr>
			<tr>
				<td>Numero da Conta:</td><td>******</td>
			</tr>
			<tr>
				<td>Digito da Conta: </td><td>******</td>
			</tr>
			<tr>
				<td>Nome do Banco:</td><td>******</td>
			</tr>
			<tr>
				<td>Documento (CPF ou CNPJ): </td><td>******</td>
			</tr>
		</table>
	</p>
</body>
</html>